<% if mobile_device == "mobile" %>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>Listing &amp; Directory Website Template</title>
    <!-- Bootstrap CSS -->
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="/assets/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="/assets/themify-icons.css">
    <!-- Hover Effects -->
    
</head>









<body>
  <div class="modal" id="myModaltw">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Health Beauty & Babycare</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
         <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Makeup
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb1">Lips</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb2">Face</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb3">Nails</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb4">Kits</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb5">Tools</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Skin
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb6">Facewash</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb7">Toner</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb8">Cleaner</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb9">Sunscream</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb10">Bleach</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb11">Body Oil</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb12">Scrubs</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb13">HandWash</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb14">Hair Remover</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Hair
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb15">Shampoo</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb16">Conditioner</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb17">Serum</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb18">Gels</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb19">Sprey</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb20">Colour</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb21">Brushes</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb22">Dryer</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb23">Straightner Roller</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Shaving
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb24">Razors</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb25">Shavers</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb26">Cream</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb27">Brushes</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb28">Pre & Post</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb29">Moustach Care</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb30">Men's Creame</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Fragnence
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb31">Deodrents</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb32">Body Mist</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb33">Perfume</a>
        </div>
          </li>



          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Baby Care
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb34">Baby Food</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb35">Boys Cloth</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb36">Girls Cloth</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb37">Baby Shoes</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb38">Boys Soap</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb39">Baby Oil</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb40">Baby Cream</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb41">Boys Gear</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb42">Diapers</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb43">School Kits</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb44">Lunch Box</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb45">Water Bottle</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb46">School Bags</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb47">Toys</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb48">Birthday Gifts</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb49">Bed Protectors</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb50">Potty Chairs</a>
        </div>
          </li>






          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Health Care
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb51">Oral Care</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb52">Suppliments</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb53">Sanitary Pads</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb54">Weight Management</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb55">Sexual Wellness</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb56">Stimulants</a>
        </div>
          </li>













          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sports
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb57">Fitness Equipments</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb58">Running</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb59">Swimming</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb60">Yoga</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb61">Cycling</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb62">Tennis</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb63">Badminton</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb64">Squash</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb65">Table Tennis</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb66">Cricket Football</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb67">Volley Ball</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb68">Basket Ball</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/hbb69">Hockey</a>
        </div>
          </li>

        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>

































  <div class="modal" id="myModalth">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Furniture & Homecare</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Room
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh1">Sofa</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh2">Plastic Chair</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh3">Wooden Chair</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh4">Folding Chair</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh5">Stools</a>


              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh6">Coffee Table</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh7">Dining Table</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh8">Study Table</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh9">Office Table</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh10">Side Table</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh11">Dressing Table</a>



              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh12">Queen Size Bed</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh13">King Size Bed</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh14">Single Bed</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh15">Almirah</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh16">Storage Cabinet</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh17">Selves</a>


              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh18">Bean Bag</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh19">Shoe Rack</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bedding
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh20">Matress Singel</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh21">Matress Double</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh22">Matress Protecter</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh23">Bedsheet</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh24">Bed Cover</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh25">Blanket</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh26">Pillow</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fh27">Chushion</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Home Decor
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh28">Pooja Special</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh29">Window Curtain</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh30">Door Curtain</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh31">Door Mat</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh32">Towel</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh33">Idols</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh34">Painting</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh35">Photo Frame</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh36">Vases</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh37">Planrs</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh38">Flower Posts</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Kitchen
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh39">Cooker</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh40">Kadhai</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh41">Gas Stove</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh42">Tawa</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh43">Roti Maker</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh44">Cooking Tools</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh45">Frying Pan</a>

          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh46">Containers</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh47">Casseroies</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh48">Kitchen Organiser</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh49">Chopping Board</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh50">Apron</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh51">Gloves</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh52">Table Mats</a>

          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh53">Scrubber</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh54">Mobs</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh55">Dustbin</a>
        </div>
          </li>



<li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Homecare
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh56">Cleaning Tools</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh57">Detergents</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh58">Disposables</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh59">Bathroom Cleaners</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh60">Toilet Cleaners</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh61">Freshners</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh62">Shoecare</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh63">Home Cleaning</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fh64">Domestic Help</a>
        </div>
          </li>

          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>









































   <div class="modal" id="myModalfo">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Fashion</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Women's Clothing
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa1">Saree</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa2">Kurta/Kurti</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa3">Salwar Suit</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa4">Blouse</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa5">Shirt</a>


              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa6">Top</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa7">Dupatta</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa8">Leggings</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa9">Jeans</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa10">Trousers</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa11">Joggers</a>



              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa12">Caps</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa13">Shorts</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa14">Lingerie</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Men's Clothing
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa15">Shirt</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa16">T-Shirt</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa17">Sweatshirt</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa18">Coat</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa19">Blazer</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa20">Tie</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa21">Jeans</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa22">Trouser</a>


              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa23">Jogger</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa24">Loungwear</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa25">Short</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa26">Underwear</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/fa27">Socks</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bags
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa28">Handbag</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa29">Shoulderbag</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa30">Travel Bag</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa31">Tote Bag</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa32">Sling Bag</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa33">Shipping Bag</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa34">Messenger Bag</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa35">Clutches</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa36">Wallet</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa37">Pouches</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Watches
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa38">Womens</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa39">Mens</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa40">Sport</a>
        </div>
          </li>
          <li><a href="/welcome/fa41" style="color: #000;">Eye Glass</a></li>
          <li><a href="/welcome/fa42" style="color: #000;">Sunglasses</a></li>
          <li><a href="/welcome/fa43" style="color: #000;">Caps</a></li>

<li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Women's Footwear
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa44">Heals</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa45">Sandels</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa46">FlipFLops</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa47">Slippers</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa48">Sposts Shoes</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa49">Mojaris</a>

          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa50">Flats</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa51">Wedgs</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa52">Boots</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa53">Socks</a>
        </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mean's Footwear
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa54">Casuals</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa55">Sandels</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa56">FlipFLops</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa57">Slippers</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa58">Sposts Shoes</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa59">Formals</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/fa60">Socks</a>
        </div>
          </li>



          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>


































   <div class="modal" id="myModalfi">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Grocery & Veg</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grocery
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv1">Milk</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv2">Beverages</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv3">Rice</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv4">Atta</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv5">Oil</a>


              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv6">Dal</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv7">Salt</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv8">Suger</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv9">Masala</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv10">Noodels</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv11">Snacks</a>



              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv12">Biscuits</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv13">Dry Fruits</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv14">Pickels</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv15">Dairy</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv16">Stationary</a>
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Veg
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv17">Potato</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv18">Onion</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv19">Tomato</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv20">Ginger</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv21">Garlic</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv22">Cardimom</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv23">Leafy Veg</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv24">Root Veg</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/gv25">All Vegetables</a>
        </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Non Veg
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv26">Eggs</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv27">Fish</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv28">Chicken</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv29">Mutton</a>
        </div>
          </li>




          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Fruits
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv30">Banana</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv31">Orange</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv32">Apple</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv33">Grapes</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv34">Pomegranate</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv35">Water Melons</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv36">Mango</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv37">Naspati</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv38">Papaya</a>

          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv39">Avacado</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv40">Coconut</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv41">Dates</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/gv42">JackFruit</a>
        </div>
          </li>          
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>




























  <div class="modal" id="myModalsi">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Electronics Appliences</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Electronics
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea1">All Electronic Items</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea2">AC</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea3">Fridge</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea4">Washing Machine</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea5">Microwave</a>


              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea6">TV</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea7">Camera</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea8">Speaker</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea9">Headphone</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea10">Home Theater</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea11">Portable Audio</a>



              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea12">Heating/ Cooling</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea13">Light</a>
              <a class="dropdown-item" style="color: #fff;" href="/welcome/ea14">Fan</a>
             
            </div>
          </li>





          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Accessories
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

          <a class="dropdown-item" style="color: #fff;" href="/welcome/ea15">Cases & Covers</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/ea16">Power Banks</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/ea17">Screen Guards</a>
          <a class="dropdown-item" style="color: #fff;" href="/welcome/ea18">Headphones</a>
        </div>
          </li>   
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>





















  <div class="modal" id="myModalse">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Select Your Location</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <li class="nav-item dropdown">
            <p><b style="text-align: center;">Select Your State</b></p>
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              West Bengal
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p><b style="text-align: center;">Select Your DIstrict</b></p>
              <a class="dropdown-item" style="color: #fff;" href="#">Kolkata</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Siliguri</a>
              <a class="dropdown-item" style="color: #fff;" href="#">24 Paragans North</a>
              <a class="dropdown-item" style="color: #fff;" href="#">24 Paragans South</a>
             
            </div>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Bihar
              <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <p><b style="text-align: center;">Select Your DIstrict</b></p>
              <a class="dropdown-item" style="color: #fff;" href="#">Patna</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Nalanda</a>
              <a class="dropdown-item" style="color: #fff;" href="#">Nawada</a>
             
            </div>
          </li>  
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

  <script>$('#myModaltw').appendTo("body") </script>


<section class="slider d-flex align-items-center" style="max-height:80px;">
        <!-- <img src="/assets/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container" >
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    
                                    
                                    <br>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <form class="form-wrap mt-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="What are your looking for?" id="search" class="btn-group1">
                                       
                                        
                                        <%= select_tag :state, options_for_select([["Select a City",""]] + State.all.map { |c| [c.name, c.id] } ), id: "state"%>
                                        <%= select_tag :city, options_for_select([["Select a Area",""]]), :id => 'city' %>
                                        <a href="/welcome/search" class="btn-form search-btn">SEARCH<i class="pe-7s-angle-right"></i></a>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>What are you finding?</h3>
                    </div>
                </div>

    <section class="section-division mb-1">
    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/events">
          <img src="/assets/events.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/rest">
          <img src="/assets/food.jpg" alt="a" class="img-fluid">
                    </a>
        </div>
      </div>
    </div>

    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/health">
          <img src="/assets/babycare.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/grocery">
          <img src="/assets/grocery.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>


    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/electronics">
          <img src="/assets/electronics.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/search">
          <img src="/assets/favstore.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>



    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/decor">
          <img src="/assets/kitchen.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/repair">
          <img src="/assets/repair.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>




    <div class="container my-1">
      <div class="row">
        <div class="col col-sm-6">
          <a href="/welcome/gs">
          <img src="/assets/education.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
        <div class="col col-sm-6">
          <a href="/welcome/fashion">
          <img src="/assets/fashion.jpg" alt="a" class="img-fluid">
          
          </a>
        </div>
      </div>
    </div>
    </section>
  </div>



  </body>
</html>

<style>
body {
  position: relative;
  background-color: #f2f2f2;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


.blocky {
  background-color: #fff;
  margin-top: 5px;
}

img {
  border-radius: 15px;
}

nav .nav-link {
color: #000;
margin-left: .5rem;
}

nav .fa {
  font-size: 1rem;
  margin-right: 1rem;
}

nav span {
  font-size: 15px;
  font-style: normal;
  font-weight: bold;
  margin-left: 10px;
}

.section-division {
  margin-top: 2rem;
  position: relative;
}

.section-division a .capta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 1rem;
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.img-fluid {

}
.img-fluid:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.1); 
  }

</style>
<!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->



    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

    <script>
        $(window).scroll(function() {
            // 100 = The point you would like to fade the nav in.

            if ($(window).scrollTop() > 100) {

                $('.fixed').addClass('is-sticky');

            } else {

                $('.fixed').removeClass('is-sticky');

            };
        });
    </script>
</body>

</html>
















<% else %>


































<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Colorlib">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <!-- Page Title -->
    <title>Listing &amp; Directory Website Template</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
    <link rel="stylesheet" href="/assets/simple-line-icons.css">
    <!-- Themify Icon -->
    <link rel="stylesheet" href="/assets/themify-icons.css">
    <!-- Hover Effects -->
    <link rel="stylesheet" href="/assets/set1.css">
    <!-- Main CSS -->
    <link rel="stylesheet" href="/assets/style.css">
</head>

























    <section class="slider d-flex align-items-center">
        <!-- <img src="/assets/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">

<br>
<br>
<br>
<br>
                                    <h1>Discover what's great Near You</h1>
                                    <h5>Let's uncover the best places to eat, drink, and shop nearest to you.</h5>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                <form class="form-wrap mt-4">
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <input type="text" placeholder="What are your looking for?" id="search" class="btn-group1">
                                       
                                        
                                        <%= select_tag :state, options_for_select([["Select a City",""]] + State.all.map { |c| [c.name, c.id] } ), id: "state"%>
                                        <%= select_tag :city, options_for_select([["Select an Area",""]]), :id => 'city' %>
                                        <a href="/welcome/search" class="btn-form search-btn">SEARCH<i class="pe-7s-angle-right"></i></a>
                                    </div>
                                </form>
                                <div class="slider-link">
                                    <a href="/welcome/popular">Browse Popular</a><span>or</span> <a href="/welcome/recent">Recently Addred</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SLIDER -->
    <!--//END HEADER -->
    <!--============================= FIND PLACES =============================-->
    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>What do you need to find?</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="/welcome/events">
                    <div class="find-place-img_wrap">
                        <div class="grid">
                            <figure class="effect-ruby">
                                <img src="/assets/find-place1.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                <figcaption>
                                    <h5 style="font-size:30px; font-weight:700;">Entertainment Party Wedding </h5>
                                    
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <a href="/welcome/rest">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place2.jpg" class="img-fluid" alt="img13" />
                                        
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Food Hotel Travel</h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="/welcome/grocery">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place3.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Grocery & Veg </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <a href="/welcome/health">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/babycare.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Health Babycare & Beauty </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/welcome/gs">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/education.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Education & Trg </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
                            <div class="row">
                <div class="col-md-4">
                    <a href="/welcome/electronics">
                    <div class="find-place-img_wrap">
                        <div class="grid">
                            <figure class="effect-ruby">
                                <img src="/assets/find-place7.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                <figcaption>
                                    <h5 style="font-size:30px; font-weight:700;">Mob Comp & Electronics </h5>
                                    
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <a href="/welcome/fashion">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place6.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Fashion World</h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                    <a href="/welcome/repair">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/repair.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Home Service & Repair </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                </div>
                <a href="/welcome/hotels">
                <div class="col-md-4">
                    <div class="row find-img-align">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/favstore.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Fav Stores NearU </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="/welcome/decor">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="find-place-img_wrap">
                                <div class="grid">
                                    <figure class="effect-ruby">
                                        <img src="/assets/find-place5.jpg" class="img-fluid" alt="img13" style="
  opacity:0.5;
  background-color:#000" />
                                        <figcaption>
                                            <h5 style="font-size:30px; font-weight:700;">Furniture Kitchen Stores Home Decor </h5>
                                            
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
            </div>
        </div>
    </section>




<section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Click to sell or exchange your products</h3>
                        <% if current_user&.shop %>
  <%= link_to 'Manage Shop', current_user.shop, class: "btn btn-danger" %>
<% else %>
                        <a href="/shops/new" class="btn btn-danger">Add Shop</a>
                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    


    <script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>

    <script>
        $(window).scroll(function() {
            // 100 = The point you would like to fade the nav in.

            if ($(window).scrollTop() > 100) {

                $('.fixed').addClass('is-sticky');

            } else {

                $('.fixed').removeClass('is-sticky');

            };
        });
        var selectedCity;
        $("select#state").change(function() {
          var id_value_string = $(this).val();
          if (id_value_string == "") {
           $("select#city option").remove();
           var row = "<option value=\"" + "" + "\">" + "city" + "</option>";
           $(row).appendTo("select#city");
          } else {
           // Send the request and update city dropdown
            getCitiesOfState(id_value_string)
           
          }
         });
        $(".search-btn").on("click", function(e){
          e.preventDefault()
          var $this = $(this);
          var $href = $this.attr("href");
          var state = $("#state").val()
          var city = $("#city").val()
          var search = $("#search").val()
          window.location = $href + '?search=' + search+ "&state=" +state+ "&city="+ city
        })
        function getCitiesOfState(val){
        $.ajax({
          dataType: "json",
          cache: false,
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          url: '/get_cities_by_state',
          type: 'post',
          data: {"state" : val},
          timeout: 5000,
          error: function(XMLHttpRequest, errorTextStatus, error) {
           alert("Failed to submit : " + errorTextStatus + " ;" + error);
          },
          success: function(data) {
           // Clear all options from city select
           $("select#city option").remove();
           //put in a empty default line
           // Fill city select

           var row = "<option value=\"" + "" + "\">" + "Select An Area" + "</option>";
           $(row).appendTo("select#city");
           $.each(data, function(i, j) {
            if(j.id == selectedCity){
              row = "<option value=\"" + j.id + "\" selected>" + j.name + "</option>";
            }else{
              row = "<option value=\"" + j.id + "\">" + j.name + "</option>"; 
            }
            $(row).appendTo("select#city");
           });
          }
         });
       }
    </script>
</body>
<% end %>
</html>
