<br>
<br>
<br>

  <main>




    <div class="container-fluid bg-cover">
      <div class="container product-section-cover">

        <div class="row">


          <% @shops.each do |shop| %>
          <% if shop.category == "Furniture" %>
          <div class="col col-md-4 col-sm-6">
              <div class="product-grid" style="background:#f3f4f7;">
                <div class="image">
                    <img src= "<%= shop.imageshop %>" alt="<%= shop.name %> 's image" style="height:200px;" class="img-fluid">
                    <span class="overlay">
                        <span class="product-details">
                           <%= link_to "View Details", shop, class: "linky" %>

                        </span>
                    </span>
                </div>
                <div class="product-discription py-3">
                <h4 class="text-center"><%= shop.name %></h4>
                <p class="text-center"><small><%= shop.description %></small></p>
             
                </div>
              
              </div>
          </div>
          <% end %>
          <% end %>

      </div>
    </div>


  </main>

</body>

<style>
.linky{
  color: #fff;
  font-size: 20px;
}

.linky:hover {
    color: yellow;
}

/* selected link */
.linky:active {
    color: #fff;
}
</style>