<% if mobile_device == "mobile" %>
<style>
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}




.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>






        <div class="nav-menu">
        <div class="dark-bg sticky-top">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">

                           
                            
                            <img src="/assets/user.png"  onclick="openNav()" style="height:40px; width:40px;">

<a href="/cart">
            <img src="https://cdn4.iconfinder.com/data/icons/online-shopping-31/64/shopping-commerce-supermarket-cart-store-online-512.png" style="height:40px; width:40px;"  alt="ICON">
                           </a>
                            <a class="navbar-brand" style="font-size:20px;" href="/">NearClick</a>
                            
                          <img src="/assets/mi.png" data-toggle="modal" data-target="#myModalse" style="height:40px; width:40px;">



                           <!-- Modal -->

                           

                           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <img src="/assets/dots.png" style="height:30px; width:30px; z-index: 10000;
        position: relative;">
              </button>
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                     


                                     <li class="nav-item active">
                                        <a class="nav-link" href="#" data-toggle="modal" data-target="#myModaltw">Health Beauty & Babycare
                                          <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                                        </a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="#" data-toggle="modal" data-target="#myModalth">Furniture & Homecare
                                          <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                                        </a>
                                    </li>


                                    <li class="nav-item active">
                                        <a class="nav-link" href="#" data-toggle="modal" data-target="#myModalfo">Fashion
                                          <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                                        </a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="#" data-toggle="modal" data-target="#myModalfi">Grocery & Veg
                                          <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                                        </a>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Tutor
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="  background: #ffffff;
  color:  #000080;">
                                            <a class="dropdown-item" href="/welcome/te1">Academic</a>
                                            <a class="dropdown-item" href="/welcome/te2">Language</a>
                                            <a class="dropdown-item" href="/welcome/te3">Music</a>
                                            <a class="dropdown-item" href="/welcome/te4">Dance</a>
                                            <a class="dropdown-item" href="/welcome/te5">Sports</a>
                                            <a class="dropdown-item" href="/welcome/te6">Sewing</a>

                                            <a class="dropdown-item" href="/welcome/te7">Cooking</a>
                                            <a class="dropdown-item" href="/welcome/te8">Institute</a>
                                        </div>
                                    </li>

                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Doctor
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/welcome/do1">General Physicsian</a>
                                            <a class="dropdown-item" href="/welcome/do2">Child Specialist</a>
                                            <a class="dropdown-item" href="/welcome/do3">Gynocologist</a>
                                            <a class="dropdown-item" href="/welcome/do4">Physiotherapist</a>
                                            <a class="dropdown-item" href="/welcome/do5">ENT SPecialist</a>
                                            <a class="dropdown-item" href="/welcome/do6">Eye SPecialist</a>
                                            <a class="dropdown-item" href="/welcome/do7">Skin SPecialist</a>
                                            <a class="dropdown-item" href="/welcome/do8">Dentist</a>
                                            <a class="dropdown-item" href="/welcome/do9">Phychologist</a>
                                            <a class="dropdown-item" href="/welcome/do10">Hospital</a>
                                            <a class="dropdown-item" href="/welcome/do11">Medical Store</a>
                                        </div>

                                    </li>





                                     <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Business & Tax
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/welcome/bt1">Tax Filing</a>
                                            <a class="dropdown-item" href="/welcome/bt2">Company Registration</a>
                                            <a class="dropdown-item" href="/welcome/bt3">GST Registration</a>
                                            <a class="dropdown-item" href="/welcome/bt4">Lawyer</a>
                                            <a class="dropdown-item" href="/welcome/bt5">Web Designer</a>
                                            <a class="dropdown-item" href="/welcome/bt6">CCTV Camera</a>
                                        </div>

                                    </li>




                                     <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Salon
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/welcome/sa1">Women</a>
                                            <a class="dropdown-item" href="/welcome/sa2">Men</a>
                                            <a class="dropdown-item" href="/welcome/sa3">Unisex</a>
                                            <a class="dropdown-item" href="/welcome/sa4">Makeup</a>
                                            <a class="dropdown-item" href="/welcome/sa5">Massage</a>
                                        </div>
                                    </li>

                                   

                                   <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Home Service & Repair
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                         <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/welcome/hsr1">Domestic Help</a>
                                            <a class="dropdown-item" href="/welcome/hsr2">Home Cleaning</a>
                                            <a class="dropdown-item" href="/welcome/hsr3">Wiring Repair</a>
                                            <a class="dropdown-item" href="/welcome/hsr4">Laptop Repair</a>
                                            <a class="dropdown-item" href="/welcome/hsr5">Mobile Repair</a>
                                            <a class="dropdown-item" href="/welcome/hsr6">Electronics Repair</a>
                                            <a class="dropdown-item" href="/welcome/hsr7">AC Repair</a>
                                            <a class="dropdown-item" href="/welcome/hsr8">Fridge Repair</a>
                                            <a class="dropdown-item" href="/welcome/hsr9">Washing Machine Repair</a>
                                            <a class="dropdown-item" href="/welcome/hsr10">Plumber</a>
                                            <a class="dropdown-item" href="/welcome/hsr11">Cartpenter</a>
                                        </div>
                                    </li>



                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Renovation
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/welcome/ren1">Engineer</a>
                                            <a class="dropdown-item" href="/welcome/ren2">Vastu Sastra</a>
                                            <a class="dropdown-item" href="/welcome/ren3">Contractor</a>
                                            <a class="dropdown-item" href="/welcome/ren4">Interior</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="/welcome/renmyModalth">Furniture</a>
                                            <a class="dropdown-item" href="/welcome/ren5">Painter</a>
                                            
                                        </div>
                                    </li>






                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Hardwares
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/welcome/hard1">Paints</a>
                                            <a class="dropdown-item" href="/welcome/hard2">Glass</a>
                                            <a class="dropdown-item" href="/welcome/hard3">Steelbar</a>
                                            <a class="dropdown-item" href="/welcome/hard4">Cement</a>
                                            <a class="dropdown-item" href="/welcome/hard5">Sand</a>
                                            <a class="dropdown-item" href="/welcome/hard6">Agregates</a>
                                            <a class="dropdown-item" href="/welcome/hard7">Tiles</a>
                                            <a class="dropdown-item" href="/welcome/hard8">Plywood</a>
                                            <a class="dropdown-item" href="/welcome/hard9">Panel</a>
                                            <a class="dropdown-item" href="/welcome/hard10">Hinges & Fittings</a>
                                            <a class="dropdown-item" href="/welcome/hard11">Brackets & Holder</a>
                                            <a class="dropdown-item" href="/welcome/hard12">Tapes</a>
                                            <a class="dropdown-item" href="/welcome/hard13">Mirrors</a>
                                            <a class="dropdown-item" href="/welcome/hard14">Screw Nails & Nuts</a>
                                        </div>
                                    </li>












                                    <li class="nav-item dropdown">
                                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Wedding
                     <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                   </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="/welcome/wed1">Decoration</a>
                                            <a class="dropdown-item" href="/welcome/wed2">Florist</a>
                                            <a class="dropdown-item" href="/welcome/wed3">Tent House</a>
                                            <a class="dropdown-item" href="/welcome/wed4">Wedding Hall</a>
                                            <a class="dropdown-item" href="/welcome/wed5">Caterers</a>
                                            <a class="dropdown-item" href="/welcome/wed6">Photographers</a>
                                            <a class="dropdown-item" href="/welcome/wed7">Jewellary</a>
                                            <a class="dropdown-item" href="/welcome/wed8">Makeup</a>
                                            <a class="dropdown-item" href="/welcome/wed9">Mehendi</a>
                                            <a class="dropdown-item" href="/welcome/wed10">Pandit</a>
                                            <a class="dropdown-item" href="/welcome/wed11">Sound System</a>
                                            <a class="dropdown-item" href="/welcome/wed12">Sweet Shop</a>
                                            <a class="dropdown-item" href="/welcome/wed13">Fireworks</a>
                                            <a class="dropdown-item" href="/welcome/wed14">Event Organiser</a>
                                            <a class="dropdown-item" href="/welcome/wed15">Singers</a>
                                        </div>
                                    </li>


                                    <li class="nav-item active">
                                        <a class="nav-link" href="#" data-toggle="modal" data-target="#myModalsi">Electronics
                                          <img src="http://pluspng.com/img-png/free-png-plus-sign-plus-sign-icon-button-green-approved-check-712.png" style="width:10px; height:10px;">
                                        </a>
                                    </li>
                                    
                                   
                                    <% if user_signed_in? %>
                                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-outline-light top-btn" %></li>
                                    <% else %>
                                    <li><a href="/users/sign_in" class="btn btn-outline-light top-btn">SignUp/SignIn</a></li>
                                    <% end %>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <br>
  <% if user_signed_in? %>
  <p style="text-align:center;">Welcome <%= current_user.username %></p>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>  
  <% else %>
  <p style="text-align:center;">Welcome Guest</p>
  <a href="/users/sign_in">Sign In</a>
  <a href="/users/sign_up">Register</a>
  <% end %>

  <% if current_user && current_user.is_agent? %>
  <a href="/registeration_numbers">New registeration number</a>
  <% end %>
  <% if current_user&.shop %>
  <a href="/products/new">Add Product</a>
  <%= link_to 'Manage Shop', current_user.shop %>
  <% else %>
  <a href="#">Wishlist</a>
  <% end %>
  <% if current_user&.shop %>
  <%= link_to 'Manage Shop', current_user.shop, class: "btn btn-danger" %>
<% else %>
                        <a href="/shops/new">Add Shop</a>
                        <% end %>
  <a href="/welcome/about">About</a>
  <a href="/welcome/contact">Contact</a>
</div>

<% else %>

<style>
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}




.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  top: 0;
  right: 25px;
  font-size: 36px;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>






        <div class="nav-menu">
        <div class="dark-bg sticky-top">
            <div class="container-fluid ">
                <div class="row">
                    <div class="col-md-12">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <span style="font-size:30px;cursor:pointer; color:#fff;" onclick="openNav()">&#9776; </span>
                            <a class="navbar-brand" href="/">NearClick</a>
                          
                           
                           
                           
                            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                     <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/fashion">Fashion</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/electronics">Electronics</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/furniture">Furniture</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/kitchen">Kitchen</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/grocery">Grocery</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/restraunts">Retraunts</a>
                                    </li>

                                    <li class="nav-item active">
                                        <a class="nav-link" href="/welcome/events">Events</a>
                                    </li>
                                    
                                   
                                    <% if user_signed_in? %>
                                    <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-outline-light top-btn" %></li>
                                    <% else %>
                                    <li><a href="/users/sign_in" class="btn btn-outline-light top-btn">SignUp/SignIn</a></li>
                                    <% end %>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>



<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <br>
  <% if user_signed_in? %>
  <p style="text-align:center;">Welcome <%= current_user.username %></p>
  <% else %>
  <p style="text-align:center;">Welcome Guest</p>
  <% end %>
  <% if current_user&.shop %>
  <a href="/products/new">Add Product</a>
  <%= link_to 'Manage Shop', current_user.shop %>
  <% else %>
  <a href="#"><span>0</span> Your Cart</a>
  <a href="#">Wishlist</a>
  <% end %>
  <% if current_user && current_user.is_agent? %>
  <a href="/registeration_numbers">New registeration number</a>
  <% end %>
  <a href="/welcome/about">About</a>
  <a href="/welcome/contact">Contact</a>
</div>

<% end %>
