<!DOCTYPE html>
<html>
  <head>
    <title>Nearnew</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
  <script src="/assets/jquery-3.2.1.min.js"></script>
    <script src="/assets/popper.min.js"></script>
  <script src="/assets/bootstrap.min.js"></script>
  </head>

  <body>
  	<%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
